#Header {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;

    &--log {
      display: flex;
      align-items: center;

      h1 {
        margin-left: 10px;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: #FFFFFF;
      }
    }

    &--block {
      a {
        margin: 0 15px;
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #F9FAFB;
      }

      button {
        background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
        border-radius: 5px;
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #F9FAFB;
        padding: 10px 20px;
      }
    }

  }

}

#Hero {
  padding: 20px 0;

  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--group {

      h1 {
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 58px;
        line-height: 84px;
        background: linear-gradient(89.83deg, #2563EB 0.11%, #D946EF 58.65%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.07);

      }

      p {
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        font-size: 15px;
        line-height: 30px;
        color: #E5E7EB;
        width: 52%;
      }

      &__block {
        display: flex;
        align-items: center;

        button {
          font-family: 'DM Sans', sans-serif;
          font-weight: 500;
          font-size: 16px;
          color: #F9FAFB;
          padding: 10px 20px;
          background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
          border-radius: 6px;
        }

        &--btn {

          a {
            display: flex;
            align-items: center;
            padding-left: 10px;
            font-family: 'DM Sans', sans-serif;
            font-weight: 500;
            font-size: 16px;
            color: #F9FAFB;
          }
        }
      }

      &__image {

      }
    }
  }
}

#Service {
  .service {

    h1 {
      font-family: 'DM Sans', sans-serif;
      font-weight: 700;
      font-size: 42px;
      color: #FFFFFF;
      text-align: center;
    }

    p {
      font-family: 'DM Sans', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #FFFFFF;
    }

    &--our {
      position: relative;
      background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
      box-shadow: 0 22px 18px rgba(0, 0, 0, 0.05);
      border-radius: 34px;

      &__order {
        background: linear-gradient(180deg, #8A7FD9 0%, #402F8F 100%);
        border-radius: 55px;

        img {
          background: linear-gradient(180deg, #8A7FD9 0%, #402F8F 100%);
          border-radius: 55px;
          position: absolute;

          left: 0;
          top: 0;
        }
      }
    }
  }
}


#we {
  .we {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--man {
      h1 {
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;
        color: #FFFFFF;
      }

      p {
        font-family: 'DM Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        padding: 15px 0;
      }

      button {
        font-family: 'DM Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        padding: 10px 20px;
        background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
        border-radius: 4px;
      }
    }
  }
}


#Project {
  .project {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--we {
      h1 {
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;
        color: #FFFFFF;
      }

      p {
        font-family: 'DM Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        padding: 15px 0;
        color: #FFFFFF;
      }

      button {
        font-family: 'DM Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        padding: 10px 20px;
        background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
        border-radius: 4px;
      }

    }
  }
}


#Met {
  h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #FFFFFF;
    text-align: center;
  }

  p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    padding: 20px 0;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
  }

  .met {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &--our {
      background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
      box-shadow: 0 22px 18px rgba(0, 0, 0, 0.05);
      border-radius: 34px;
      width: 260px;

      &__team {
        padding-left: 10px;
        text-align: center;

        img {
          margin-left: 33px;
          padding-top: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        h2 {
          font-family: 'DM Sans', sans-serif;
          font-weight: 500;
          font-size: 28px;
          color: #FFFFFF;
        }

        h3 {
          font-family: 'DM Sans', sans-serif;
          font-weight: 400;
          font-size: 16px;
          text-transform: uppercase;
          color: #FFFFFF;
        }

        &--icon {
          display: flex;
          //align-items: center;
          text-align: center;
          margin: 0 30%;
          padding: 0 10px;
          color: #FFFFFF;
        }
      }
    }
  }
}


#latest {
  padding-top: 50px;

  .latest {
    background: linear-gradient(180deg, rgba(254, 254, 255, 0.0145) 0%, rgba(255, 255, 255, 0.02) 100%);
    box-shadow: 0 22px 18px rgba(0, 0, 0, 0.05);
    border-radius: 34px;

    &--news {

      h3 {
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 42px;
        text-align: center;
        color: #FFFFFF;
      }

      p {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.8;
        padding: 13px 0;
      }

      &__inp {
        position: relative;

        input {
          margin-top: 20px;
          background: linear-gradient(180deg, rgba(254, 254, 255, 0.0348) 0%, rgba(255, 255, 255, 0.048) 100%);
          box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
          border-radius: 70px;
          width: 860px;
          height: 75px;
          padding-left: 4%;
          font-family: 'Rubik', sans-serif;
          font-weight: 400;
          font-size: 18px;
          color: #FFFFFF;
          opacity: 0.9;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 10%;
        }

        button {

          background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
          opacity: 0.9;
          border-radius: 70px;
          position: absolute;
          font-family: 'Rubik', sans-serif;
          font-weight: 500;
          font-size: 20px;
          text-align: center;
          color: #FFFFFF;
          padding: 15px 25px;
          display: flex;
          align-items: center;
          right: 172px;
          top: 8px;
        }
      }
    }
  }
}

#Footer {
  .footer {
    display: flex;
    padding: 5% 0;
    align-items: center;
    justify-content: space-around;

    &--block {
      display: flex;
      align-items: start;
      flex-wrap: wrap;
      flex-direction: column;

      a {

        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 40px;
        letter-spacing: 0.01em;
        color: rgba(255, 255, 255, 0.8);
      }
    }


    &--blocks {
      display: flex;
      flex-direction: column;
      align-items: start;

      &__zone {
        display: flex;
        align-items: center;

        h1 {
          font-family: 'Rubik', sans-serif;
          font-weight: 500;
          font-size: 20px;
          color: #FFFFFF;
          padding-left: 10px;
        }
      }

      &__link {
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        flex-direction: column;

        a {
          display: flex;
          align-items: center;
          font-family: 'DM Sans', sans-serif;
          font-weight: 400;
          font-size: 16px;
          color: rgba(255, 255, 255, 0.8);
          padding: 10px 0;
        }

      }

      &__ion {
        display: flex;
        align-items: center;
        color: #FFFFFF;
        padding: 0 10px;
        margin: 0 10px;
      }

    }
  }

  hr {
    background: #969696;
    opacity: 0.2;
  }

  .end {
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;

    a {
      font-family: 'Rubik', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.8);
    }

    &--flex {
      display: flex;


      h1 {
        display: flex;
        align-items: end;
        justify-content: end;
        font-family: 'DM Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
        padding: 0 10px;
      }
    }
  }
}